@import url('https://fonts.googleapis.com/css2?family=Coral+Pixels&family=Jacquard+24&family=Rubik+Pixels&display=swap');

*{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
}

h1{
     font-family: "Jacquard 24", system-ui;
  font-weight: 800;
  font-style: normal;
  font-size: 96px;
}

h3{
    font-family: "Rubik Pixels", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
}

h4{
    font-family: "Coral Pixels", serif;
  font-weight: 400;
  font-style: normal;
  width: 100%;
  font-size: 120px;
}

.section1{
 display: flex;
 width: 100vw;
 height: 100vh;
 background-image: linear-gradient(135deg, rgba(2, 7, 11, 0.8),rgba(148, 12, 12, 0.7)) ;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}

.section2{
 display: flex;
 width: 100vw;
 height: 100vh;
 background-image: linear-gradient(135deg, rgba(137, 182, 218, 0.8),rgba(12, 48, 148, 0.7)) ;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 overflow: hidden;
 
 
}
.Question{
    font-family: "Jacquard 24", system-ui;
    color: white;
    font-size: 4vh;
    position: relative;
    top: 2vh
}

.title{
    font-size: 15vw;
    
     font-family: "Coral Pixels", serif;
}
.transition1{
    position: absolute;
    width: 110vw;
    height: 10vh;
    left: -5vw;
    background-color: #ccc;
    top: 95vh;
    transform: rotate(2.5deg);
    z-index: 3;
}

.fillerbg{
    font-size: 15vh;
    word-break: break-all;
    position: relative;
    overflow: hidden;
    transform: rotate(2.5deg);
    text-align: center;
    color: white;
    font-family: 'Montserrat';
    font-weight: 400;
}
.Container{
   background: linear-gradient(135deg, rgba(255,255,255,0.13), rgba(255,255,255,0));
backdrop-filter:blur(20px);
    display: flex;
    width: 70vw;
    height: 60vh;
    border: #ccc 0.4px solid;
    border-radius: 1vw;
    box-shadow: 0 0 10px rgba(2, 7, 11, 0.8);
    position: absolute;
    font-family: 'bebas neue';
    color: rgb(48, 33, 4);
    font-size: 15vh;
    justify-content: center;
    align-items: center;
    padding-left: 3vw;
    box-sizing: border-box;
    font-weight: 800;
    text-shadow: 0 0 4px rgba(2, 7, 11, 0.8);
}
.transition2{
    position: absolute;
    width: 110vw;
    height: 10vh;
    left: -5vw;
    background-color: #ccc;
    top: 195vh;
    transform: rotate(-2.5deg);
    z-index: 3;
}


/* section 3  */
.section3{
     display: flex;
 width: 100vw;
 height: 100vh;
 background: white ;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 overflow: hidden;
 
}

.section3 h2{
    font-family: 'Courier New', Courier, monospace;
    animation: appear ease;
animation-timeline: view();
animation-range: entry 80% cover 80%;
}
@keyframes appear{
from{
opacity:0;
scale:0.5;
}
to{
opacity:1;
scale: 4;
}
}

.section4{
     display: flex;
 width: 100vw;
 height: 100vh;
 background: white ;
 flex-direction: column;
 overflow: hidden;
}
.section4 h5{
    margin: 1vh 0 0 2vw;    
    font-size: 12vh;
    height: 10vh;
   font-family: 'Courier New', Courier, monospace;
}

.lake{
    display: flex;
    width: 100vw;
    height: 15vh;
    position: relative;
   
    background-image: linear-gradient(180deg, rgba(0,200,120,0.4), rgba(10,10,240,0.4));
}

.forest{
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 100vw;
    height: 89vh;
    
}

.tree1{
    display: flex;
    width: 4vw;
    height: 60vh;
    bottom: -5vh;
    left: 10vw;
    z-index: 4;
    position: relative;
    overflow: visible;
    background-color: rgb(44, 27, 11);
}
.tree1 img{
    width: 20vw;
    object-fit: fill;
    left: -5vw;
    height: 20vw;
    position: absolute;
}

.tree2{
    display: flex;
    width: 4vw;
    height: 60vh;
    bottom: -10vh;
    left: 30vw;
    z-index: 8;
    position: relative;
    overflow: visible;
    background-color: rgb(44, 27, 11);
}
.tree2 img{
    width: 20vw;
    object-fit: fill;
    left: -8vw;
    height: 20vw;
    position: absolute;
}

.tree3{
    display: flex;
    width: 4vw;
    height: 60vh;
    bottom: -5vh;
    left: 45vw;
    z-index: 4;
    position: relative;
    overflow: visible;
    background-color: rgb(44, 27, 11);
}
.tree3 img{
    width: 20vw;
    object-fit: fill;
    left: -5vw;
    height: 20vw;
    position: absolute;
}
.tree4{
    display: flex;
    width: 4vw;
    height: 60vh;
    bottom: -5vh;
    left: 65vw;
    z-index: 4;
    position: relative;
    overflow: visible;
    background-color: rgb(44, 27, 11);
}
.tree4 img{
    width: 20vw;
    object-fit: fill;
    left: -5vw;
    height: 20vw;
    position: absolute;
}

.section5{
    display: flex;
 width: 100vw;
 height: 100vh;
 background: rgb(67, 65, 65) ;
 flex-direction: column;
 align-items: center;
}

.section5 p{
    margin-top: 5vh;
    position: relative;
    font-family: 'poppins';
color: white;
font-size: 4vw;
font-weight: 600;
}

.cont{
    width: 100vw;
    height: 60vh;
   
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.card{
    width: 30vw;
    height: 50vh;
    background-color: rgb(125, 215, 155);
    border-radius: 2vw;
    padding: 2vh;
    box-sizing: border-box;
    
}
.card strong{
    font-family: 'montserrat';
   font-size: 4vh;
}
.card p{
    font-size: 3vh;
    color: black;
}